.LeftBar{
    border-right: 1px solid silver;
    background-color: #f0f0f0;
    width: 255px;
    transition: 0.2s;
    flex-shrink: 0;
    overflow: auto;
}


.item{
    border-bottom: 1px solid silver;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
}

.item:hover{
    background-color: rgba($color: #000000, $alpha: 0.1);
}
.item:active{
    background-color: rgba($color: #000000, $alpha: 0.2);
}

.FileAdd{
    $FileAddHeight:60px;
    border-top: 1px solid gray;
    background-color: inherit;
    position: sticky;
    bottom: 0px;
    top: calc(100% - $FileAddHeight);
    height: $FileAddHeight;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid silver;
        border-right: 1px solid silver;
        cursor: pointer;
        transition: 0.1s;
    }
    div:hover{
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
    div:active{
        background-color: rgba($color: #000000, $alpha: 0.2);
    }
    svg{
        width: 30px;
        height: 30px;
        fill:gray;
    }
}

.icon{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    svg{
        fill:gray;
    }
}