* {
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: silver;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #000000, $alpha: 0.4);
}